<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAS | change-password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/change-password.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/messages.css') }}">
</head>
<body>
  
<div class="change-password-container">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes" style="list-style-type: none;">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
  <div class="title">
    Change your password
  </div>

  <form method="POST">
    <div class="password-input-nest">
      <div class="desc">
        Enter your new password to change your password
      </div>
      <div class="change-password-input1">
        <label for="New">New Password</label>
        <input type="password" placeholder="New Password" name="NewPassword" id="New">
      </div>
      <div class="change-password-input2">
        <label for="Confirm">Confirm new password</label>
        <input type="password" placeholder="Confirm new password" name="ConfirmPassword" id="Confirm">
      </div>
      <button type="submit">Change Password</button>
    </div>
  </form>
  

</div>

</body>
</html>