<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/forgot-password.css">
  <title>CAS | reset-password</title>
</head>
<body>
  <div></div>
  <div class="left-side">
    
  </div>
  <div class="right-side">
    <div class="right-side-content">
      <div class="forgot-password-layer1">
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        Forgot Password
      </div>
      <div class="forgot-password-layer2">
        <form method="POST">
          <div class="Password-form-wrap">
            <label for="password-change">
              Enter your email and we will send you an email to reset
              Password
            </label>
            <div class="Password-input-wrap">
              <input type="text" placeholder="danielotchere@gmail.com" 
              name="change-password" id="password-change">
              <img src="../static/ICONS/email-icon.png" alt="email">
            </div>
            <button> Submit </button>
          </div>
        </form>
        <div class="back-to-menu">
          <a class="main-menu-link" href="{{ url_for('login')}}">
             <img src="../static/ICONS/left-arrow.png" alt="left arrow">
             Back to login 
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>