<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAS | profile</title>
  <link rel="stylesheet" href="../static/styles/general.css">
  <link rel="stylesheet" href="../static/styles/header.css">
  <link rel="stylesheet" href="../static/styles/sidebar.css">
  <link rel="stylesheet" href="../static/styles/profile-page-main-content.css">
</head>

<body class="profile-page-body">
<header class="header">
  <div class="left-side"> LECTURER PORTAL</div>
  <div class="right-side"> 
    <div class="profile-container">
      <img src="../static/ICONS/profile1.png" alt="profile icon">
      <div style="color: white;"> Daniel Otchere </div>
    </div>
  </div>
</header>

<nav class="profile-page-sidebar">
  <div class="nav-header">
    <hr>
      NAVIGATION
    <hr>
  </div>
  <ul class="unordered-list">
    <li class="list">
      <a class="link non-active" href="dashboard.html">
        <img class="icons" src="../static/ICONS/dashboard.png" alt="dashboard-icon">
         <div class="anchor-text">DASHBOARD</div>
      </a>
    </li>

    <li class="list">
      <a class="link non-active" href="CheckAttendance.html"> 
        <img class="icons" src="../static/ICONS/check attendance.png" alt="check-attendance-icon"> 
         <div class="anchor-text">CHECK ATTENDANCE</div>
      </a>
    </li>
  </ul>
</nav>
<main class="container">
  <div class="profile-content">

    <div class="profile-layer1">
      <div class="profile-layer1-title">
        <div class="title-profile">LECTURER'S PROFILE</div>
      </div>
      <div class="profile-layer1-icon">
        <img src="../static/ICONS/profile3.png" alt="profile-icon">
      </div>
      <div class="profile-layer1-details" >
        <div class="name-detail"> Daniel Otchere </div>
        <div class="lecturer-id"> 2011205 </div>
      </div>
    </div>

    <div class="profile-layer2">
      <div class="profile-layer2-title"> 
        <img class="profile-layer2-icon" src="../static/ICONS/profile5.png" alt="profile-icon2">
        <div class="profile-layer2-desc">
          Personal Details
        </div>
      </div>
  
      <form method="PUT" action="dashboard.html">
        <div class="profile-layer2-input-nest">
          <div class=" profile-layer2-input-container">
            <label for="profile-input1">Lastname</label>
            <input class="disabled-input" disabled value="Otchere" type="text" name="Lastname" id="profile-input1">          
          </div>
          <div class="profile-layer2-input-container">
            <label for="profile-input2">Firstname</label>
            <input  class="disabled-input" disabled value="Daniel" type="text" name="Firstname" id="profile-input2">
          </div>
          <div class="profile-layer2-input-container"> 
            <label for="profile-input3">Email</label>
            <input type="text" name="Email" value="danielotchere@gmail.com" id="profile-input3">
          </div>
          <div class="profile-layer2-input-container">
            <label for="profile-input4"> Address </label>
            <input type="text" name="Address" value="P.O BOX NT 86" id="profile-input4">
          </div>
          <div class="profile-layer2-input-container">
            <label for="profile-input5"> Phone number </label>
            <input type="text" name="Phone" value="050 660 9243" id="profile-input5">
          </div>
        </div>
        <div class="btn-container">
          <a href="dashboard.html" class="main-menu-btn">
            <img src="../static/ICONS/left-arrow.png" alt="arrow">
            Back to main menu
          </a>
          <button type="submit" class="update-btn"> Update </button>
        </div>
      </form>
      
    </div>

  </div>
</main>

</body>
</html>